 .extra{
    /* margin-top: 70%; */
    text-align: center;
    /* margin-left: 130px;
    margin-right: 130px; */
    /* padding-top: 5%; */
    width: 100%;
    height: 100vh;
    
}
.extra h1{
    font-size: 4 rem;
} 
.img{
    border-radius: 50%;
    height: 50%;
}
.img{
    transition: all 0.5 ease-in;
    margin-top: 25px;
    margin-bottom: 30px;
}
.img:hover{
    box-shadow: rgba(199, 94, 8, 0.73);
    transform: scale(1.1);

    
}
/* .text{
    
} */
@media (max-width: 670px){
    .extra{
        padding-top:25%;
        width: 100%;
        height: 100vh;
    }
}