.about {
padding-top: 250px;
    width: 100%;
    height: 100vh;
    text-align: center;
   padding-left: 130px;
   padding-right: 130px;

  
   
   
}
.about h1{
    font-size: 4rem;
}
.h1::after{
  /* color: red; */
  background: red;
  height: 2px;
  width: 100%;
  display: block;

}
.text-3xl {
    font-size: 1.75rem; /* Adjust the size as needed */
  }
  
  @media (max-width: 670px) {
    .about{
      padding-top: 50%;
    }
    .text-sm-3xl {
      font-size: 2rem; /* Adjust the size as needed for small screens */
    }
  }